@model List<GuildCars.Models.Tables.Special>
@{
    ViewBag.Title = "Specials";
}


<div class="container">
    <h2>Specials</h2>
    @foreach (var special in Model)
    {
        <a href="@Url.Action("Details", "Inventory", new { vin = special.VIN })">
            <div class="col-12 mw-100 d-inline-block border border-primary p-3 text-secondary" style="margin-bottom:10px">
                <h4>@special.SpecialTitle</h4>
                <p>@special.SpecialDescription</p>
            </div>
        </a>
    }
</div>