
<div class="col-12 mw-100 d-inline-block border border-primary p-3 text-secondary" style="margin-top:10px">
    <h5>Quick Search</h5>
    <form class="form-group form-inline row">
        <div class="col-md-4">
            <label class="sr-only" for="quickSearchTextbox">Quick Search</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="quickSearchTextbox" placeholder="Enter make, model, or year">
        </div>

        <div class="col-md-4 form-group">
            <label for="Price" class="form-inline">Price </label>
            <input type="text" class="form-control mb-2 mr-sm-2 w-25" id="minPrice" placeholder="No Min">
            <input type="text" class="form-control mb-2 mr-sm-2 w-25" id="maxPrice" placeholder="No Max">
        </div>
        <div class="col-md-4 form-group">
            <label for="Year">Year </label>
            <input type="text" class="form-control mb-2 mr-sm-2 w-25" id="minYear" placeholder="No Min">
            <input type="text" class="form-control mb-2 mr-sm-2 w-25" id="maxYear" placeholder="No Max">
        </div>
    </form>
    <button type="submit" onclick="search()" class="btn btn-outline-primary">Search</button>
</div>